@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.entrycard{
    padding:0;
    width: 100%;
    margin:0;
    box-shadow: none;
}
.head{
    padding:0;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
}
.item_card{
    border-bottom: 3%;
    padding:0;  
    margin:0;
}
.card{
    padding:0;
    margin:0;
    margin-bottom: 3%;
}
.icons{
    font-size: 20px;
}
.entryHeader{
padding-bottom:0;
   margin:0;
}