.labels{
    font-size: 15px;
}

.cards{
        margin-bottom:1%;
}
.texts{
    padding:0;
    margin-top: 10px;
    font-size: 17px;
}
.textcol{
    
    margin-top: 5%;
    color:#3a5b5e;
}

.down-i{
    margin-top: 3%;

}